<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Admin | Allsaint's College</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/ionicons.min.css">
  <link rel="stylesheet" href="css/all.css">
  <link rel="stylesheet" href="css/select2.min.css">
  <link rel="stylesheet" href="css/vpjs.min.css">
  <link rel="stylesheet" href="css/_all-skins.min.css">
  <link rel="stylesheet" href="css/bootstrap3-wysihtml5.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header class="main-header">
    <a href="index.html" class="logo">
      <span class="logo-mini"><b>A</b>C</span>
      <span class="logo-lg"><b>Allsaint's College</b> </span>
    </a>
    <nav class="navbar navbar-static-top">
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          
         
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="img/user2-160x160.jpg" class="user-image" alt="user">
              <span class="hidden-xs">Vipin </span><i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu">
        
              <li class="user-header">
                <img src="img/user2-160x160.jpg" class="img-circle" alt="User Image">

                <p>
                  Vipin Patel
                  <small>UX UI Developer</small>
                </p>
              </li>
              
               <li class="user-footer">
                <div class="pull-left">
                  <a href="accountsettings" class="btn btn-default btn-flat">Account Settings </a>
                </div>
        <div class="pull-right">
                  <a href="changepassword.html" class="btn btn-default btn-flat">Change Password </a>
                </div>               
              </li>
        
            </ul>
          </li>
       <li class="user user-menu">
        <a href="login.html">
          <span class="hidden-xs"><i class="fa fa-sign-out"></i> Logout</span>
        </a>
      </li>
        </ul>
      </div>
    </nav>
  </header>
  <aside class="main-sidebar">
    <section class="sidebar">
    
     
      <ul class="sidebar-menu mt-10" data-widget="tree">
       
       
        <li class="active"><a href="index.html"><i class="fa fa-tachometer"></i> <span>Dashboard</span></a></li>
      
        <li class="treeview">
          <a href="#">
            <i class="fa fa-sliders"></i> <span>Slider MGT</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="headerslider.html"><i class="fa fa-circle-o"></i>Header Slider</a></li>
            <li><a href="collegehouses.html"><i class="fa fa-circle-o"></i>College Houses Slider</a></li>
            <li><a href="latestevents.html"><i class="fa fa-circle-o"></i>Latest Events Slider</a></li>          
          </ul>
        </li>  
         
        <li class="treeview">
          <a href="#">
            <i class="fa fa-edit"></i> <span>Header MGT</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="topbar.html"><i class="fa fa-circle-o"></i>Contact &amp; Email Update</a></li>
            <li><a href="logomanagement.html"><i class="fa fa-circle-o"></i>Logo Update</a></li>      
          </ul>
        </li>   
        <li class="treeview">
          <a href="#">
            <i class="fa fa-edit"></i> <span>Principal's  MGT</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="messagevideo.html"><i class="fa fa-circle-o"></i>Message &amp; Video</a></li>
            <li><a href="latestnews.html"><i class="fa fa-circle-o"></i>Latest News</a></li>         
            <li><a href="latestnews.html"><i class="fa fa-circle-o"></i>Mission of the School</a></li>         
            <li><a href="latestnews.html"><i class="fa fa-circle-o"></i>Entrance Test</a></li>         
          </ul>
        </li>   
         <li><a href="menumgt.html"><i class="fa fa-bars"></i> <span>Menu MGT</span></a></li>
         
        <li><a href="collegecalendar.html"><i class="fa fa-calendar"></i> <span>College Calendar</span></a></li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-gear"></i> <span>Setting</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
      <li><a href="accountsettings.html"><i class="fa fa-circle-o"></i>Account Settings </a></li>
            <li><a href="changepassword.html"><i class="fa fa-circle-o"></i>Change Password </a></li>
          </ul>
        </li>
        
      
       
       
      </ul>
    </section>
  </aside>
 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Header Slider
        <small>Preview</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Slider Management</a></li>
    
        <li class="active">Header Slider</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Add Previus Paper Box -->
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Header Slider</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
				 <!-- form start -->
            <form class="form-horizontal">
              <div class="box-body">
                <div class="form-group">
                 
                  <div class="col-sm-7 col-sm-offset-3">
                    <select required class="form-control">
                      <option selected>Select Slider Position</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option class="5">5</option>
                    </select>
                  </div>
                </div>
               <!--  <div class="form-group">
                 
                  <div class="col-sm-7 col-sm-offset-3  ">
					<select required class="form-control">
                    <option selected>Select Created Exam</option>
                    <option>option 2</option>
                    <option>option 3</option>
                    <option>option 4</option>
                    <option>option 5</option>
                  </select>
                  </div>
                </div>
				
                <div class="form-group">
                  <label for="categorytitle" class="col-sm-3 control-label">Enter Paper Title</label>
                  <div class="col-sm-7">
					 <input type="text" class="form-control" id="categorytitle" placeholder="Enter Paper Title">
                  </div>
                </div> -->
				
				<div class="form-group">
               <!--    <label for="" class="col-sm-3 control-label">Select Paper file</label> -->
                  <div class="col-sm-7  col-sm-offset-3">
						<input type="file" class="form-control" id="">
                  </div>
                </div>
                <div class="form-group">
					<div class="col-sm-7 col-sm-offset-3">
						<button type="submit" class="btn btn-info"><i class="fa fa-floppy-o" aria-hidden="true"></i> <strong>Save</strong></button>
						<button type="reset" class="btn btn-default"><i class="fa fa-times" aria-hidden="true"></i> <strong>Reset</strong></button>	
					</div>
				</div>
              </div>
              <!-- /.box-body -->
              
            </form>
          
			</div>
            <!-- /.col -->
           
          </div>
          <!-- /.row -->
        </div>
        <!-- /.box-body -->
        </div>
      <!-- /.box -->
	
	<div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Header Slider List</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
          </div>
        </div>
        <!-- /.box-header -->
        
        <div class="box-footer">
          
            <!-- /.box-header -->
            <div class="box-body">
              <table class="table table-bordered">
                <tr>
                  <th>Slider Position</th>
                  <th>Slider Icon	</th>
                  <th style="width: 65px">Action</th>
                </tr>
                <tr>
                  <td>1  </td>
                  <td> <img src="img/user2-160x160.jpg" style="width: 23px;"  class="user-image" alt="Slider"> </td>
                  <td>
                     <div class="btn-group">
                      <button title="Delete" type="button" class="btn btn-info btn-xs"><i class="fa fa-pencil-square "></i></button>
                      <button title="Delete" type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash "></i></button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td> 2  </td>
                  <td> <img src="img/user2-160x160.jpg" style="width: 23px;" class="user-image" alt="user"> </td>
                  <td>
                     <div class="btn-group">
                      <button title="Delete" type="button" class="btn btn-info btn-xs"><i class="fa fa-pencil-square "></i></button>
                      <button title="Delete" type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash "></i></button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                      <select required class="form-control">
                      <option selected>Select Slider Position</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option class="5">5</option>
                    </select> </td>
                  <td> <img src="img/user2-160x160.jpg" style="width: 23px;" class="user-image" alt="user"> </td>
                  <td>
                     <div class="btn-group">
                      <button title="Delete" type="button" class="btn btn-info btn-xs"><i class="fa fa-pencil-square "></i></button>
                      <button title="Delete" type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash "></i></button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td> 4	</td>
                  <td> <img src="img/user2-160x160.jpg" style="width: 23px;" class="user-image" alt="user">	</td>
				          <td>
					           <div class="btn-group">
                      <button title="Delete" type="button" class="btn btn-info btn-xs"><i class="fa fa-pencil-square "></i></button>
                      <button title="Delete" type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash "></i></button>
                    </div>
				          </td>
                </tr>
               
              </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
              <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">&raquo;</a></li>
              </ul>
            </div>
         
        </div>
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->
  </div>
      <!-- /.content-wrapper -->
      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>Version</b> 1.4.1
        </div>
        <strong>Copyright &copy; 2018 <a href="#">VPN </a>.</strong> All rights
        reserved.
      </footer>

    </div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<script src="js/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="js/bootstrap.min.js"></script>
<script src="js/select2.full.min.js"></script>

<script src="js/jquery.slimscroll.min.js"></script>
<script src="js/icheck.min.js"></script>
<script src="js/fastclick.js"></script>
<script src="js/vpjs.min.js"></script>
<script src="js/ckeditor.js"></script>

<script src="js/demo.js"></script>
<script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()

  })
  $(function () {
    // Replace the <textarea id="editor1"> with a CKEditor
    CKEDITOR.replace('editor1')
  
  })
</script>
</body>
</html>
